
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";



.nav-link {
    color: #ffffff;
    font-size: 20px;
}


.active {
    color: #ffffff;
}


* {
    margin: 0;
    font-weight: lighter;
}


h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    padding: 10px 0px;
}

p{
    font-size: 20px;
}

.btn:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
    color: #ffffff;
    padding: 20px;
    
}

.navbar-brand {
    padding: 10px;
}

.welcome {
    position: relative;
    text-align: center;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffbc;
}

.paragraph {
    font-size: 30px;
}

// Loading indicator 


.loader {
    display: block;
    width: 80px;
    height: 80px;
    margin: 100px auto;
}

.loader:after {
    content: " ";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #540000;
    border-color: transparent #540000 transparent #540000;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}